<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <form action="/" method="POST">
        <div class="mt-5" style="width: 100%;">

            <h1 class="text-center mt-5">COVID-19 Predictor</h1>
            <h4 class="text-center mb-5">Gradient Boosting Regressor</h4>
            <hr>


            <div class="container mt-5">
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col text-center">

                        <h3 class="text-center p-3 mb-2 bg-dark text-white ">COVID-19 Probability</h3>
                        <br>
                        <h1 class="text-success font-weight-bold" style="font-size: 4em;">{{inf}}</h1>
                        <br>

                        <br>
                        <a href="/">
                            <div class="btn btn-primary" style="width: 100%;"> Check Again</div>
                        </a>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <hr>
</body>

</html>